In [1]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns 
import pandas as pd
import requests 
from bs4 import BeautifulSoup 
import zillow

### From the project - 
The tool will allow the user to automatically search for the mean, median, min, max and average value of the properties in each zip code area.

In [2]:
df = pd.read_csv('nlp_final_2.csv')

In [3]:
df.head()

,address,city/state,price,studio,bath,bed,sqft
0,458 W 23rd St #Garden,"Chelsea, New York, NY",559000,NaN,1.0,1.0,NaN
1,201 W 21st St #7-H,"Chelsea, New York, NY",675000,Studio,1.0,1.0,NaN
2,201 W 16th St #4A,"Chelsea, New York, NY",1495000,NaN,2.0,2.0,101221.0
3,150 W 12th St #4south,"Greenwich Village, New York, NY",3995000,NaN,2.0,2.0,1465.0
4,342 W 21st St #2D,"Chelsea, New York, NY",725000,NaN,1.0,1.0,19440.0

In [5]:
df.shape

(420, 7)

In [13]:
df.describe()

              price        bath         bed           sqft
count  4.200000e+02  419.000000  417.000000     357.000000
mean   4.131653e+06    2.315036    2.100719   25278.896359
std    5.628029e+06    1.663293    1.331723   77789.654700
min    4.250000e+05    1.000000    1.000000     420.000000
25%    9.900000e+05    1.000000    1.000000     876.000000
50%    2.047500e+06    2.000000    2.000000    1653.000000
75%    4.950000e+06    3.000000    3.000000    3700.000000
max    5.250000e+07   10.000000    9.000000  403741.000000

In [37]:
df.sum()

address       458 W 23rd St #Garden201 W 21st St #7-H201 W 1...
city/state    Chelsea, New York, NYChelsea, New York, NYChel...
price                                                1735294281
bath                                                        970
bed                                                         876
sqft                                                9.02457e+06
dtype: object

In [45]:
print('the mean of {} is {}'.format(col, col.sum))

AttributeError: 'str' object has no attribute 'sum'

In [22]:
columns = df[["price", "bath", "bed", "sqft"]]

In [23]:
columns.head()

     price  bath  bed      sqft
0   559000   1.0  1.0       NaN
1   675000   1.0  1.0       NaN
2  1495000   2.0  2.0  101221.0
3  3995000   2.0  2.0    1465.0
4   725000   1.0  1.0   19440.0

In [24]:
columns.dtypes

price      int64
bath     float64
bed      float64
sqft     float64
dtype: object

In [ ]:
print('the mean of {} is {}'.format(col, col.sum))

In [69]:
columns = df[["price", "bath", "bed", "sqft"]]
all_stats = []
for col in columns:
    stat_col = df[col]
    
    stats = []
#    stats = []
    print(type(stat_col))
#    
    stat_sum = np.sum(stat_col)
    stats.append(stat_sum)
    print("")
    print(f"the sum of {col} is {stat_sum}".format(col, stat_sum))
    
    stat_mean = np.mean(stat_col)
    stats.append(stat_mean)
    print("")
    print(f"the mean of {col} is {stat_mean}".format(col, stat_mean))

    
    stat_min = np.min(stat_col)
    stats.append(stat_min)
    print("")
    print(f"the minimum of {col} is {stat_min}".format(col, stat_min))

    
    stat_max = np.max(stat_col)
    stats.append(stat_max)
    print("")
    print(f"the maximum of {col} is {stat_min}".format(col, stat_max))

    
    stat_med = np.median(stat_col)
    stats.append(stat_med)
    print("")
    print(f"the median of {col} is {stat_med}".format(col, stat_med))

    
    stat_var = np.var(stat_col)
    stats.append(stat_var)
    print("")
    print(f"the variance of {col} is {stat_var}".format(col, stat_var))

    
    stat_std = np.std(stat_col)
    stats.append(stat_std)
    print("")
    print(f"the standard deviation of {col} is {stat_std}".format(col, stat_std))

    
    all_stats.append(stats)
 #   stats.append('Sum', ...)
# return sum_stats
all_stats

<class 'pandas.core.series.Series'>

the sum of price is 1735294281

the mean of price is 4131653.05

the minimum of price is 425000

the maximum of price is 425000

the median of price is 2047500.0

the variance of price is 31599298665068.613

the standard deviation of price is 5621325.347733274
<class 'pandas.core.series.Series'>

the sum of bath is 970.0

the mean of bath is 2.315035799522673

the minimum of bath is 1.0

the maximum of bath is 1.0

the median of bath is nan

the variance of bath is 2.759940989171853

the standard deviation of bath is 1.6613070123164633
<class 'pandas.core.series.Series'>

the sum of bed is 876.0

the mean of bed is 2.1007194244604315

the minimum of bed is 1.0

the maximum of bed is 1.0

the median of bed is nan

the variance of bed is 1.7692320963373156

the standard deviation of bed is 1.3301248423878549
<class 'pandas.core.series.Series'>

the sum of sqft is 9024566.0

the mean of sqft is 25278.896358543418

the minimum of sqft is 420.0

the maximum of sqft is 420.0

the median of sqft is nan

the variance of sqft is 6034280153.20774

the standard deviation of sqft is 77680.62920193

[[1735294281,
  4131653.05,
  425000,
  52500000,
  2047500.0,
  31599298665068.613,
  5621325.347733274],
 [970.0,
  2.315035799522673,
  1.0,
  10.0,
  nan,
  2.759940989171853,
  1.6613070123164633],
 [876.0,
  2.1007194244604315,
  1.0,
  9.0,
  nan,
  1.7692320963373156,
  1.3301248423878549],
 [9024566.0,
  25278.896358543418,
  420.0,
  403741.0,
  nan,
  6034280153.20774,
  77680.62920193]]

In [6]:
df.sum()

address       458 W 23rd St #Garden201 W 21st St #7-H201 W 1...
city/state    Chelsea, New York, NYChelsea, New York, NYChel...
price                                                1735294281
bath                                                        970
bed                                                         876
sqft                                                9.02457e+06
dtype: object

In [ ]:
df['price'].sum()