In [1]:
# Import libraries:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
# header = {'User-Agent':'cjbratkovics2'}

In [2]:
# base_url = 'https://www.trulia.com/'
# url = 'https://www.trulia.com/NY/New_York/10011/'

In [3]:
# base_res = requests.get(base_url, headers = header)
# res = requests.get(url, headers = header)

In [4]:
# print('Trulia status code = ', base_res.status_code)
# print('Trulia 10011 status code = ', res.status_code)
# soup = BeautifulSoup(res.content, 'lxml')

In [5]:
# general_house_info = soup.find_all('ul', {'data-testid': 'cardDescription'})

In [6]:
# info = []

In [7]:
# for g in general_house_info:
#     print(g.text)
#     info.append(g.text)

In [8]:
# info

In [9]:
# house_info = soup.find_all('span', {'class': 'cardPrice h5 man pan typeEmphasize noWrap typeTruncate'})

In [10]:
# house_info

In [11]:
# prices = []
# for i in house_info:
#     print(i.text)
#     prices.append(i.text)

In [12]:
# prices

In [13]:
# next_page = (soup.find('a', {'class': 'pvl phm'}))

In [14]:
# next_page

In [15]:
# next_page.attrs

In [16]:
# next_pagee = (soup.find('a', {'class': 'pvl phm'}))

In [17]:
# next_pagee

In [18]:
# next_pages = (soup.find_all('a', {'class': 'pvl phm'}))

In [19]:
# next_pages

In [20]:
# for p in next_pages:
#     print(p.attrs['aria-label'], p.attrs['href'])

In [21]:
# for p in next_pages:
#     if (p.attrs['aria-label'] == 'Next page'):
#         print(p.attrs['href'])

In [22]:
# for p in next_pages:
#     if (p.attrs['aria-label'] == 'Next page'):
#         next_page_url = p.attrs['href']

In [23]:
# next_page_url

In [24]:
# next_res = requests.get(next_page_url, headers = header)

In [25]:
# print('Trulia Next Page status code = ', next_res.status_code)
# soup = BeautifulSoup(next_res.content, 'lxml')

In [26]:
# general_house_info = soup.find_all('ul', {'data-testid': 'cardDescription'})
# info_2 = []

In [27]:
# for g in general_house_info:
#     print(g.text)
#     info_2.append(g.text)

In [28]:
# house_prices = soup.find_all('span', {'class': 'cardPrice h5 man pan typeEmphasize noWrap typeTruncate'})
# house_prices

In [29]:
# prices_2 = []
# for p in house_prices:
#     print(p.text)
#     prices_2.append(p.text)

In [30]:
# prices_2

In [31]:
# info_2

In [32]:
# next_page = (soup.find('a', {'class': 'pvl phm'}))
# next_page

In [33]:
# next_pages = (soup.find_all('a', {'class': 'pvl phm'}))
# next_pages

In [34]:
# for p in next_pages:
#     if (p.attrs['aria-label'] == 'Next page'):
#         next_page_url = p.attrs['href']

In [35]:
# next_page_url

In [36]:
# base_url = 'https://www.trulia.com/'
# base_res = requests.get(base_url, headers = header)
# print('Trulia status code = ', base_res.status_code)

In [37]:
# base_soup = BeautifulSoup(base_res.content, 'lxml')

In [38]:
# url = 'https://www.trulia.com/NY/New_York/10011/'
# res = requests.get(url, headers = header)
# print('Trulia 10011 status code = ', res.status_code)
# soup = BeautifulSoup(res.content, 'lxml')

In [39]:
# house_prices = soup.find_all('span', {'class': 'cardPrice h5 man pan typeEmphasize noWrap typeTruncate'})
# prices = []
# for i in house_prices:
#     prices.append(i.text)
# prices

In [40]:
# house_addresses = soup.find_all('div', {'class': 'h6 typeWeightNormal typeTruncate typeLowlight mvn'})
# addresses = []
# for i in house_addresses:
#     addresses.append(i.text)
# addresses

In [41]:
# house_cities = soup.find_all('div', {'class': 'typeTruncate typeLowlight'})
# cities = []
# for i in house_cities:
#     cities.append(i.text)
# cities

In [42]:
# general_house_info = soup.find_all('ul', {'data-testid': 'cardDescription'})
# info = []
# for g in general_house_info:
#     s = g.text
#     s = s.replace(',', '')
#     info.append(s)
# info

In [43]:
# df.to_csv('./trulia_10011_df.csv')

In [44]:
# url = 'https://www.trulia.com/NY/New_York/10011/'
# res = requests.get(url, headers = header)
# print('Status code = ', res.status_code)
# soup = BeautifulSoup(res.content, 'lxml')

In [45]:
# next_pages = (soup.find_all('a', {'class': 'pvl phm'}))
    
# link_list = []
# num_list = []
# link_with_nums = {}
# num_link = {}
# for p in next_pages:
#     num_link['text'] = p.text
#     num_link['attributes'] = p.attrs['href']
#     num_list.append(p.text)
#     link_list.append(p.attrs['href'])
    
    #link_with_nums.append(num_link)
    
# num_list = ','.join(num_list)
# num_list = np.fromstring(num_list, dtype=np.int, sep=',' )
# print(link_list)
# print(num_list)
# link_with_nums['page_num'] = num_list
# link_with_nums['page_link'] = np.unique(link_list)
# print(link_with_nums)

In [46]:
# link_with_nums['page_link'][0]

In [47]:
# next_pages

In [48]:
def gather_housing_data(url):
    # Initialize results list to store all data from this page.
    results = []
    
    # Initialize header, request, and beautifulsoup.
    header = {'User-Agent':'cjbratkovics2'}
    res = requests.get(url, headers = header)
    soup = BeautifulSoup(res.content, 'lxml')
    
    # Find and store the price of each house; most important.
    house_prices = soup.find_all('span', {'class': 'cardPrice h5 man pan typeEmphasize noWrap typeTruncate'})
    prices = []
    for i in house_prices:
        prices.append(i.text)

    # Find and store each house's address.
    house_addresses = soup.find_all('div', {'class': 'h6 typeWeightNormal typeTruncate typeLowlight mvn'})
    addresses = []
    for i in house_addresses:
        addresses.append(i.text)

    # Find and store the city/state of each house.
    house_cities = soup.find_all('div', {'class': 'typeTruncate typeLowlight'})
    cities = []
    for i in house_cities:
        cities.append(i.text)
    
    # Find and store the bedrooms, bathrooms, and area of each house.
    general_house_info = soup.find_all('ul', {'data-testid': 'cardDescription'})
    info = []
    for g in general_house_info:
        s = g.text
        s = s.replace(',', '')
        info.append(s)

    # Save all data for each house in the result dictionary.
    for i in range(len(house_prices)):
        # Initialize empty result dictionary to store results from each page.
        result = {}
        
        # Store all meaningful values to result dictionary.
        result['price'] = prices[i]
        result['qualities'] = info[i]
        result['address'] = addresses[i]
        result['city/state'] = cities[i]
    
        # Add all result dictionary data to results list.
        results.append(result)
    
    # Return the results from the page and url.
    return results, url

In [49]:
def update_url(page_url, count):
    
    # Assume there is no next page.
    next_exists = False
    
    # Initialize header, request, and beautifulsoup.
    header = {'User-Agent':'cjbratkovics2'}
    res = requests.get(page_url, headers = header)
    soup = BeautifulSoup(res.content, 'lxml')

    # Find and store the next page url.
    next_pages = (soup.find_all('a', {'class': 'pvl phm'}))
    
    for p in next_pages:
        if (p.attrs['aria-label'] == 'Next page'):
            next_page_url = p.attrs['href']
            next_exists = True
        else:
            next_page_url = page_url
    # If the next page doesn't exist, assign next_url to None.
    if next_exists == False:
        count += 1
            
    # Return the results from this page and the next page's url.
    return next_page_url, count

In [50]:
def data_cleaning(df):
    df['studio'] = df['qualities'].str.extract(r'(Studio)')
    
    df['bath'] = df['qualities'].str.extract(r'([0123456789]ba)')
    df['bath'] = df['bath'].map(lambda bath_cell: np.nan if bath_cell == 'NaN' else str(bath_cell))
    df['bath'] = df['bath'].map(lambda bath_cell: bath_cell.replace('ba', ''))
    df['bath'] = df['bath'].map(lambda bath_cell: bath_cell.replace('0', '10'))
    df['bath'] = df['bath'].astype(float)
    
    df['bed'] = df['qualities'].str.extract(r'([0123456789]bd)')
    df['bed'] = df['bed'].map(lambda bed_cell: np.nan if bed_cell == 'NaN' else str(bed_cell))
    df['bed'] = df['bed'].map(lambda bath_cell: bath_cell.replace('bd', ''))
    df['bed'] = df['bed'].astype(float)
    
    df['price'] = df['price'].map(lambda price_cell: price_cell.replace('$', ''))
    df['price'] = df['price'].map(lambda price_cell: price_cell.replace(',', ''))
    df['price'] = df['price'].astype(float)
    
    df['drop_sqft'], df['sqft_test'] = df['qualities'].str.split('[0123456789]ba', 1).str
    df['sqft_test'] = df['sqft_test'].map(lambda sqft_cell: np.nan if sqft_cell == '' else str(sqft_cell))
    df['sqft'], df['sqft_test_2'] = df['sqft_test'].str.split(' ', 1).str
    df['sqft'] = df['sqft'].astype(float)
    
    
    df.loc[df['studio'] == 'Studio', 'bed'] = 1
    df.loc[df['studio'] == 'Studio', 'bath'] = 1
    df.loc[df['studio'] != 'Studio', 'studio'] = 0
    df.loc[df['studio'] == 'Studio', 'studio'] = 1
    df['studio'] = df['studio'].astype(float)
    
    df.drop(columns= ['drop_sqft', 'sqft_test', 'sqft_test_2', 'qualities'], inplace=True)
    
    return df

In [51]:
def driver(zipcode):
    
    # Search for zipcode input on Trulia.com home page.
    # Get the url from that search as first_url.
    
    # Initialize url based on zipcode.
    first_url = ('https://www.trulia.com/NY/New_York/' + str(zipcode) + '/')
    
    # Initialize header, request, and beautifulsoup.
    header = {'User-Agent':'cjbratkovics2'}
    res = requests.get(first_url, headers = header)
    soup = BeautifulSoup(res.content, 'lxml')
    
    count = 0
    all_results = []
    
    # Find and store the last page url.
    next_pages = (soup.find_all('a', {'class': 'pvl phm'}))
    
    link_list = []
    link_with_nums = {}
    num_link = {}
    
    for p in next_pages:
        num_link['text'] = p.text
        num_link['attributes'] = p.attrs['href']
        link_list.append(p.attrs['href'])
        
    link_with_nums['page_link'] = np.unique(link_list)
    last_page_url = link_with_nums['page_link'][0]
    
    results, page_url = gather_housing_data(first_url)
    all_results.append(results)
    
    while count < 2:
        if count != 1:
            next_page_url, count = update_url(page_url, count)
            results, page_url = gather_housing_data(next_page_url)
            all_results.append(results)
        else:
            results, page_url = gather_housing_data(last_page_url)
            all_results.append(results)
            count += 1
            
    return all_results

In [52]:
all_results = driver(10011)

In [53]:
def df_builder(all_results):
    r = []
    for i in all_results:
        for j in i:
            r.append(j)
            
    df = pd.DataFrame(r)
    
    df.drop_duplicates(subset = 'address', inplace=True)
    
    return df

In [54]:
big_df = df_builder(all_results)

In [55]:
big_df = data_cleaning(big_df)

In [56]:
big_df.dtypes

address        object
city/state     object
price         float64
studio        float64
bath          float64
bed           float64
sqft          float64
dtype: object

In [57]:
big_df.shape

(426, 7)

In [58]:
big_df.head(40)

,address,city/state,price,studio,bath,bed,sqft
0,13 W 13th St #5JS,"Greenwich Village, New York, NY",999000.0,0.0,1.0,2.0,850.0
1,145 W 13th St #103,"Greenwich Village, New York, NY",1995000.0,0.0,3.0,2.0,NaN
2,442 W 22nd St #1,"Chelsea, New York, NY",9995000.0,0.0,7.0,5.0,NaN
3,41 W 12th St,"Greenwich Village, New York, NY",9250000.0,0.0,4.0,4.0,3075.0
4,211 W 14th St #2A,"East Village, New York, NY",3850000.0,0.0,4.0,3.0,1850.0
5,450 W 17th St #1204,"Chelsea, New York, NY",1375000.0,0.0,1.0,1.0,600.0
6,458 W 23rd St #Garden,"Chelsea, New York, NY",559000.0,0.0,1.0,1.0,NaN
7,365 W 20th St #9D,"Chelsea, New York, NY",725000.0,0.0,1.0,1.0,62638.0
8,150 W 12th St #4south,"Greenwich Village, New York, NY",3995000.0,0.0,2.0,2.0,1465.0
9,16 W 19th St #7E,"Flatiron District, New York, NY",1475000.0,0.0,1.0,1.0,904.0
10,201 W 16th St #4A,"Chelsea, New York, NY",1495000.0,0.0,2.0,2.0,101221.0
11,149 W 12th St #6/6,"Greenwich Village, New York, NY",675000.0,0.0,1.0,1.0,NaN
12,101 W 24th St #33A,"Chelsea, New York, NY",3499000.0,0.0,3.0,2.0,1555.0
13,483 W 22nd St,"Chelsea, New York, NY",7900000.0,0.0,6.0,6.0,4155.0
14,356 W 23rd St #4A,"Chelsea, New York, NY",879000.0,0.0,1.0,2.0,700.0
15,335 W 21st St #RE,"Chelsea, New York, NY",799000.0,0.0,1.0,1.0,10250.0
16,231 W 16th St #5E,"Chelsea, New York, NY",1495000.0,0.0,2.0,2.0,NaN
17,222 W 14th St #4A,"West Village, New York, NY",999000.0,1.0,1.0,1.0,625.0
18,111 W 11th St #3FE,"Greenwich Village, New York, NY",659000.0,1.0,1.0,1.0,NaN
19,201 W 21st St #7-H,"Chelsea, New York, NY",675000.0,0.0,1.0,1.0,NaN
20,342 W 21st St #2D,"Chelsea, New York, NY",725000.0,0.0,1.0,1.0,19440.0
21,212 W 18th St #1,"Gramercy, New York, NY",35000000.0,0.0,6.0,5.0,5955.0
22,142 5th Ave,"Flatiron District, New York, NY",6950000.0,0.0,4.0,4.0,3500.0
23,118 Waverly Pl #4A,"Greenwich Village, New York, NY",799000.0,0.0,1.0,1.0,NaN
24,43 W 12th St,"Greenwich Village, New York, NY",7750000.0,0.0,4.0,4.0,2288.0
25,447 W 18th St,"Chelsea, New York, NY",9999999.0,0.0,5.0,5.0,3950.0
26,148 W 23rd St #3G,"Chelsea, New York, NY",700000.0,0.0,1.0,1.0,802.0
27,100 W 15th St #3A,"Chelsea, New York, NY",499000.0,1.0,1.0,1.0,NaN
28,462 W 23rd St,"Chelsea, New York, NY",18000000.0,0.0,10.0,4.0,7050.0
29,210 W 21st St #4FW,"Chelsea, New York, NY",1165000.0,0.0,1.0,3.0,900.0
31,166 W 18th St #5C,"Chelsea, New York, NY",5000000.0,0.0,4.0,5.0,2580.0
32,459 W 18th St #2,"Chelsea, New York, NY",9950000.0,0.0,4.0,3.0,3447.0
33,231 W 16th St #1WF,"Chelsea, New York, NY",599999.0,0.0,1.0,1.0,700.0
34,450 W 17th St #4-PENTHOUSE,"Chelsea, New York, NY",3600000.0,0.0,2.0,2.0,1078.0
35,124 W 23rd St #16A,"Chelsea, New York, NY",4495000.0,0.0,3.0,3.0,2025.0
36,450 W 17th St #2009,"Chelsea, New York, NY",4895000.0,0.0,3.0,3.0,1637.0
37,122 Greenwich Ave #5,"West Village, New York, NY",5500000.0,0.0,4.0,3.0,2016.0
38,338 W 19th St #1A,"Chelsea, New York, NY",998000.0,0.0,1.0,1.0,NaN
39,233 W 21st St #4C,"Chelsea, New York, NY",625000.0,0.0,1.0,1.0,20748.0
40,175 W 13th St #9A,"Greenwich Village, New York, NY",549000.0,1.0,1.0,1.0,450.0

In [59]:
big_df.isnull().sum()

address        0
city/state     0
price          0
studio         0
bath           1
bed            3
sqft          62
dtype: int64

In [60]:
big_df['address'].value_counts()

211 W 14th St #3B         1
76 11th Ave #X14A         1
410 W 24th St #18BCE      1
201 W 16th St #15A        1
76 11th Ave #X23E         1
514 W 24th St #3W         1
155 W 20th St #2C         1
201 W 21st St #7-H        1
560 W 24th St #1          1
140 7th Ave #3R           1
305 W 16th St #C          1
211 W 14th St #5B         1
170 W 23rd St #2S         1
100 W 15th St #5E         1
503 W 24th St #6          1
503 W 24th St #7          1
101 W 24th St #3E         1
100 W 12th St #6J         1
520 W 23rd St #7A         1
148 W 23rd St #3G         1
76 11th Ave #15E          1
122 Greenwich Ave #Pha    1
16 W 19th St #6D          1
127 W 12th St             1
61 W 9th St #7C           1
40 5th Ave #MAIS-1/2B     1
16 W 19th St #7E          1
140 W 22nd St #6A         1
346 W 22nd St #Parlor     1
166 W 18th St #5C         1
                         ..
2 5th Ave #2Q             1
245 W 14th St #4C         1
175 W 12th St #12E        1
50 W 9th St #1B           1
342 W 21st St #4A         1
210 W 21st St #4FW        1
207 W 21st St #3          1
133 W 22nd St #11E        1
16 W 19th St #6E          1
40 W 17th St #9A          1
155 W 11th St #9A         1
220 W 16th St             1
79 W 12th St #14B         1
360 W 21st St #4G         1
15 W 11th St #3C          1
357 W 17th St             1
111 W 11th St #3FE        1
444 W 19th St #605        1
63 W 17th St #3A          1
130 W 16th St #21/22      1
150 W 12th St #M5         1
505 W 19th St #4A         1
505 W 19th St #6W         1
32 W 18th St #9A          1
6 W 20th St #10N          1
105 W 13th St #7E         1
520 W 23rd St #7C         1
15 W 12th St #10G         1
40 5th Ave #4B            1
133 W 22nd St #5C         1
Name: address, Length: 426, dtype: int64

In [61]:
big_df[big_df['address'] == '442 W 22nd St #1']

            address             city/state      price  studio  bath  bed  sqft
2  442 W 22nd St #1  Chelsea, New York, NY  9995000.0     0.0   7.0  5.0   NaN

In [62]:
big_df.shape

(426, 7)

In [63]:
# big_df.to_csv('./trulia_10011_final_df.csv')

In [64]:
#

In [69]:
# import numpy as np
# def new_product_no_div(numbers):
#     if len(numbers) == 0 or len(numbers) == 1:
#         return None
#     products = []
#     for i,number in enumerate(numbers):
#         products.append(np.multiply(np.product(numbers[:i]),
#                                     np.product(numbers[i+1:])))
#     return products

In [70]:
# def new_product(numbers):
#     if len(numbers) == 0 or len(numbers) == 1:
#         return None
#     products = []
#     product = np.product(numbers)
#     for i,number in enumerate(numbers):
#         #could likely be in the form of try/except instead
#         if number != 0:
#             products.append(product/number)
#         if number == 0:
#             products.append(np.multiply(np.product(numbers[:i]),
#                                         np.product(numbers[i+1:])))
#     return products

In [71]:
# def new_product_with_pop(numbers):
#     if len(numbers) == 0 or len(numbers) == 1:
#         return None
#     products = []
#     for _ in range(len(numbers)):
#         number = numbers.pop(0)
#         products.append(np.product(numbers))
#         numbers.append(number)
#     return products

In [72]:
# numbers = [1,2,3,4,5]
# print(new_product_no_div(numbers))
# print(new_product(numbers))
# print(new_product_with_pop(numbers))

In [73]:
# numbers = [2,6,7,8,4]
# print(new_product_no_div(numbers))
# print(new_product(numbers))
# print(new_product_with_pop(numbers))